h1,h2{
    color: #d4d4d2;
}


input_area{
    display: flex;
    align-items: center;
}
.conteiner{
    background-color: #1c1c1c;
    display:inline-flex;
    padding: 1cm;
    flex-direction: column;
    align-items: center;
    border-radius:1cm ;
    justify-content: space-between;
}
.area{
    display: flex;
    justify-content: center;
}

button{
    height: 20px;
    width: 180px;
    background-color: rgb(230, 144, 14);
    border: none;
    color: #d4d4d2;

}

button:hover{
    cursor: pointer;
}